<section class="container p-2">
<h2> List of Tasks: </h2>

<!-- Show a task in each row of a table -->
<table class="table text-nowrap">
    <tr>
        <th> Title </th> 
        <th> Description </th>
        <th> </th>
        <th> </th>
    </tr>
    {{#each tasks}}
    <tr>
        <td> {{this.title}} </td>
        <td> {{this.description}} </td> 
        <td>
            <a href="/site/tasks/{{this.id}}" class="btn btn-primary"> Edit </a>
        </td>
        <td>
            <!-- The prefix '../' to the token represents the object outside of each structure 
            (need to use '../' as prefix stead of '{{token}}'). -->
            <button type="button" class="btn btn-primary" id="bt-delete" onclick="handleClickDelete({{this.id}}, '{{this.title}}', '{{../token}}')"> Delete </button>
            <!--            
            <form action="/site/tasks/{{this.id}}/delete" method="POST">
                <input type="submit" value="del" id="bt-delete" class="btn btn-primary">
            </form> -->
        </td>
    </tr>
    {{/each}}
</table>
</section>